// ==============================
// Fonts
// ==============================

@font-face {
	font-family: "OpenSans";
	src: url("../_fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: 'SegoeWPN';
	src: url('../_fonts/SegoeWPN.ttf');
}

@font-face {
	font-family: 'StRyde';
	src: url('../_fonts/StRyde-Regular.otf');
}
@font-face {
	font-family: 'AthenaUnicorn';
	src: url('../_fonts/new_athena_unicode.ttf');
}
// ==============================
// MIXINS
// ==============================

@mixin font($family, $size, $weight) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
}


// ==============================
// Globals
// ==============================

.page-wrapper {
	max-width: 1280px;
	// max-height: 2705px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

body {
	background-color: #828282;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}
// ==============================
// Header
// ==============================

.header {
	background-color: #fff;
	.navbar {
		display: flex;
		flex-flow: column wrap;
		width: 100%;
		height: 100px;
		max-width: 1024px;
		margin: 0 auto;
	}
	.logo {
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		max-width: calc(100% - 547px);
		margin-left: 35px;
		a {
			position: relative;
			span {
				position: absolute;
				top: 18%;
				left: 55px;
				color: #038c8c;
				line-height: 36px;
				font : {
					family: StRyde;
					size: 43px;
					weight: 200;
				}
			}
			&:before {
				line-height: 36px;
				color: #fff;
				font : {
					family: SegoeWPN;
					size: 43px;
					weight: 100;
				}
				content: "M";
				position: absolute;
				top: 15%;
				left: 11%;
			}
		}
	}
	.buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		max-width: calc(100% - 512px);
		height: 100%;
		margin-right: -200px;
		li {
			a {
				color: #616161;
				font-family: SegoeWPN;
				font-size: 19px;
				transition: .4s;
				&:active {
					position: relative;
					top: 1px;
				}
				&.border {
				border-left: 2px solid rgba(97,97,97, .6);
				padding-left: 20px;
				}
				&:hover, &:hover.border {
				color: #00FFF6;
				border-color: #00FFF6;
				}
			}
			margin: 0 20px 0 5px;
		}
	}
	.banner {
		width: 100%;
		height: 540px;
		position: relative;
		.devices {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			max-width: 360px;
			.device {
				align-items: center;
				background-color: #069792;
				border-right: 1px solid rgba(9,133,129, .5);
				cursor: pointer;
				display: flex;
				height: 120px;
				justify-content: center;
				width: 120px;
			}
			.active {
			background-color: #017c82;
			position: relative;
			transition: .5s;
			&:after {
				position: absolute;
				content: "";
				top: 100%;
				border: 10px solid transparent;
				border-top: 10px solid #017c82;
				}
			}
		}
		.iphoneLogo {
			width: 50%;
			height: 100%;
			position: relative;
			.idk1, .idk2, .idk3 {
				position: absolute;
				border-radius: 50%;
				opacity: .7;
			}
			.idk1 {
				top: 75px;
				left: 100px;
				width: 400px;
				height: 400px;
				background-color: #04878b;
			}
			.idk2 {
				top: 100px;
				left: 125px;
				width: 350px;
				height: 350px;
				background-color: #079291;
			}
			.idk3 {
				top: 125px;
				left: 150px;
				width: 300px;
				height: 300px;
				background-color: #13b9ab;
			}
			img {
				position: absolute;
				left: 175px;
				top: 50px;
				z-index: 3;
				// display: none;
			}
		}
	}
}
// ==============================
// Main
// ==============================
.main {
	width: 100%;
	height: 100%;
	background-color: #fff;

	display: flex;

	flex-flow: column wrap;
	flex-grow: 1;
	.wrapper {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		.content {
			cursor: pointer;
			position: relative;
			.iphoneAbout {
			position: absolute;
			top: 18%;
			left: 38%;
		}
		&:before {
			position: absolute;
			top: 52%;
			left: 27%;
			font-family: AthenaUnicorn;
			line-height: 54px;
			font-weight: 300;
			color: #fff;
			font-size: 94px;
			content: "APP"
		}
		&:after {
			position: absolute;
			top: 69%;
			left: 22%;
			font-family: AthenaUnicorn;
			line-height: 54px;
			color: #fff;
			font-size: 44px;
			content: "Of the year"
			}
		}
	}
	.bg__icons {
		display: flex;
		width: 100%;
		height: 175px;
		background-color: #4FFFF1;
		cursor: pointer;
		margin-top: 100px;
		.bg__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(100% / 6);
			& {
				background-color: #01646c;
			}
			&:nth-child(2) {
				background-color: #097b84;
			}
			&:nth-child(3) {
				background-color: #118f99;
			}
			&:nth-child(4) {
				background-color: #1da0aa;
			}
			&:nth-child(5) {
				background-color: #29b7c2;
			}
			&:nth-child(6){
				background-color: #3ccad5;
			}
		}
	}
	.bg__sections {
		.bg__section {
			display: flex;
			width: 100%;
			height: 500px;
			flex-flow: row nowrap;
			img, .content {
				width: 50%;
				align-self: center;
				align-content: center;
			}
			img {
				margin-left: 50px;
			}
			.content {
				margin-left: 20px;
				display: flex;
				flex-direction: column;
				h1 {
					color: #fff;
					line-height: 36px;
					text-transform: uppercase;
					margin-top: -50px;
					font: {
						family: SegoeWPN;
						size: 31px;
					}
				}
				p {
					color: #fff;
					margin: -10px 0 25px 0;
					line-height: 36px;
					font: {
						family: SegoeWPN;
						size: 17px;
						weight: 300;
					}
				}
				.myButton {
					display: flex;
					justify-content: center;
					padding-left: 30px;
					align-items: center;
					width: 145px;
					height: 45px;
					background-color: #06ccb3;
					position: relative;
					cursor: pointer;
					color: #fff;
					font: {
						family: SegoeWPN;
						size: 21px;
						weight: 300;
					}
					transition: .4s;
					&:before {
						display: flex;
						justify-content: center;
						align-items: center;
						content: "☑";
						width: 50px;
						height: 45px;
						background-color: #3edac6;
						position: absolute;
						top: 0;
						left: 0;
						transition: .4s;
					}
					&:hover {
						background: darken(#06ccb3,10%);
						&:before {
							background: darken(#3edac6, 10%);
						}
					}
				}
			}
		}
	}
	.last__content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 525px;
		.first__content {
			display: flex;
			flex-direction: column;
			align-items: center;

			max-width: calc(100% - 500px);
			width: 100%;
			h1 {
				margin: 10px 0 0 0;
				color: #49d7b0;
				@include font(SegoeWPN, 201px, bold);
			}
			p {
				margin: 0;
				color: #49d7b0;
				@include font(OpenSans, 74px, 500);
			}
		}
		.second__content {
			 display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			max-width: calc(100% - 765px);
			width: 100%;
			height: 100%;
			background-color: #49d7b0;
		}
	}
}

// ==============================
// Footer
// ==============================
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(192,192,192, .3);
	height: 100px;
	background-color: #fff;
	a {
		color: #c0c0c0;
		@include font(OpenSans, 20px, 300);
	}
}





